* {
  background-color: blue;
  color: white;
  font-family: arial;
}

.imageInput {
  width: 100%;
}
.imageResult {
  font-family: arial;
  width: 100%;
  text-transform: uppercase;
}
.uploadedImage {
  width: 500px;
  height: auto;
  margin-left: 25%;
}
